html,

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  height: 100%;
  overflow-y: auto;
}

footer {
  background-color: #1f1f1f;
  padding: 0.9rem 3.5rem;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #2e2e2e;
  color: #f5f5f5;
  line-height: 1.6;
  overflow-y: auto;
}



a {
  color: #f5f5f5;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #ccc;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1f1f1f;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

main {
  margin-top: 80px;
  max-width: 800px;
  margin: 80px auto 4rem;
  padding: 1.5rem 3.5rem;
  min-height: calc(100vh - 80px); /* header height accounted for */
}

.intro {
  text-align: center;
  margin-bottom: 3rem;
}

.intro h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blog-post p {
    margin-bottom: 1em; /* Adds space after each paragraph */
    line-height: 1.6;   /* Optional: makes text more readable */
}

.recent-posts h2 {
  margin-bottom: 1.5rem;
}

.post {
  background: #3a3a3a;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  transition: background 0.3s ease;
}

.post:hover {
  background: #4a4a4a;
}


.post-list {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.post-list li {
  background: #3a3a3a;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.post-list li:hover {
  background: #4a4a4a;
}

.post-list a {
  color: #f5f5f5;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: start;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.logo {
  left: 50px;
  top: 15px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.nav-links {
  display: flex;
  justify-content: flex-start;
  gap: 2.5rem;
  margin-left: auto;
  padding-left: 10px 0;
  height: 39px;
  align-items: center;
}

.social-links {
  font-size: 1.5rem;
  display: flex;
  margin-left: auto;
  gap: 2.5rem;
}


